# CompassionCare Environment Variables
PORT=3000
HOST=0.0.0.0
CONTENT_API_BASE_URL=http://localhost:3000/api/content
SPACE_ID=ccspace_ID
ACCESS_TOKEN=cc_cda_token_number
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
EMPLOYEE_EMAIL=employee@example.com
EMPLOYEE_PASSWORD=admin
PLAYWRIGHT_baseUrl=http://localhost:3000/
GEMINI_API_KEY=

# GitHub Container Registry (GHCR) & Test Runner
GITHUB_ACTOR=rodlesterldizon-collab
GITHUB_TOKEN=
CONTAINER_IMAGE_NAME=ghcr.io/rodlesterldizon-collab/core-test-suite/test-runner
CONTAINER_TAG=v1.62.1
